.container{
    max-width: 1000px;
}
.container h2{
    margin-top: 70px;
    margin-bottom: 40px;
}
.row{    
    flex-wrap: nowrap;
    align-items: center;
    line-height: 30px;

}   
.row>.left>img{
    max-width:100%;
}

.left{
    // background-color: rgb(251, 127, 255);
    margin-bottom: 40px;
 
}
.left img{
    width: 100%;
}
.right{
    // background-color: rgb(157, 197, 197);
    width: 50%;
    margin-left: 60px;
}

.right h5{
margin-top: 20px;

    
}

