* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


// body{
//     margin: 0;
// }
.container {
    margin: auto;
    width: 90%;
    max-width: 1440px;
}


.img-fluid {
    width: 100%;
}

//區塊樣式
.row {
    display: flex;
    flex-wrap: wrap;
    /*換行*/
}

// 欄位
// // 四欄式
// .col-3 {
//     width: calc(100% / 4 - 30px);
//     margin: 0px 15px 40px 15px;
//     /*上右下左*/
// }

@for $i from 1 through 12 {
    .col-#{$i} {
        --num: calc(12 / #{$i});
        width: calc(100% / var(--num) - 30px);
        margin: 0px 15px 40px 15px;
    }
}

@media (min-width:768px) {
    @for $i from 1 through 12 {
        .col-md-#{$i} {
            --num: calc(12 / #{$i});
            width: calc(100% / var(--num) - 30px);
            margin: 0px 15px 40px 15px;
        }
    }
}

// 768px end

@media (min-width:1200px) {
    @for $i from 1 through 12 {
        .col-lg-#{$i} {
            --num: calc(12 / #{$i});
            width: calc(100% / var(--num) - 30px);
            margin: 0px 15px 40px 15px;
        }
    }
}

// 1200px end
//====================================
// 頁首
// ====================================


header {
    // background-color: rgb(83, 83, 83);
    background-image: url(../../images/a01.jpg);
    width: 100%;
    height: 150px;
    background-size: cover;
    background-position: center;
    position: relative; //父/   
}

header img {
    width: 72px;
    // height: 66px;
    position: absolute; //兒
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
}

header nav {
    margin: auto;

}

header>.container nav>ul {

    display: flex;
    margin-left: 20px;
    // background-color: rgb(100, 100, 100);

}

header>.container nav>ul>li {
    margin-right: 60px;
    margin-top: 65px;
}

header>.container nav>ul>li>a {
    line-height: 80px;
    color: rgb(244, 236, 224);
    font-size: 16px;
    letter-spacing: 1px;

}

header>.container nav>ul>li:nth-child(3) {

    margin-right: 220px;
}

// ====================================
// 輪播區
// ====================================
.basemap {
    background-color: rgb(255, 255, 255);
    height: 1020px;
}

.basemap h2 {
    padding-top: 90px;
    text-align: center;
    letter-spacing: 1.5px;
    margin-bottom: 50px;
    // background-color: aqua;
}

.basemap .row {
    justify-content: center;
}

.basemap .row>ul {
    display: flex;
    margin-left: 30px;
    margin-bottom: 80px;

}

.basemap .row>ul>li>a {
    margin: 0 40px;
    padding-bottom: 15px;
    font-size: 15px;
    color: rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
}

.img-overlay {
    display: flex;
    overflow: auto; //隱//
    // background-color: aqua;
    width: 100%;
}

.basemap h5 {
    margin-top: 50px;
    text-align: center;

}

.basemap h5>a {
    border: 1px solid rgb(0, 0, 0);
    padding: 10px 20px 10px 20px;
    color: black;
    // background-color: aqua;
}

// ====================================
// 包套區
// ====================================
.container .row{
    // max-width: 1100px;
    // margin: auto;

}

.container h2 {
    letter-spacing: 1.5px;
    margin-top: 90px;
    margin-bottom: 60px;
    text-align: center;
}

.container .col-md-6 {
    text-align: center;
    margin-bottom: 100px;
}

.container .col-md-6>h4 {
    margin-top: 47px;
    margin-bottom: 10px;
    font-size: 22px;
}

.container .col-md-6>h5 {
    font-size: 15px;
    margin-bottom: 25px;
}

.container .col-md-6>hr {
    display: block;
    width: 190px;
    margin-bottom: 25px;
    margin-left: 32%;
}

.container .col-md-6>p>span {
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 6px;
    margin-right: 2px;
    // background-color: aqua;
}

.container .col-md-6>p>small {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

// ====================================
// 頁尾區
// ====================================
footer {
    // background-color: rgb(122, 122, 122);
    background-image: url(../..//images/底部.jpg);
    background-size: cover;
    background-position: center;
    height: 402px;

}

footer .container>a>img {
    width: 72px;
    height: 66px;
    margin-top: 60px;
    margin-left: 50%;
    transform: translateX(-50%);
}


footer div {
    // background-color: rgb(100, 134, 134);
    margin-left: 41%;
    margin-top: 40px;
    margin-bottom: 30px;

}

footer a>img {
    // background-color: rgb(0, 0, 0);
    width: 25px;
    margin-right: 33px;
}

footer h4 {
    text-align: center;
    color: rgb(244, 236, 224);
    line-height: 20px;
    margin-top: 10px;
    letter-spacing: 1.5px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

footer p {
    text-align: center;
    color: rgb(173, 173, 173);
    font-size: 6px;
    margin-top: 50px;
}


body {

    background-image: url(../..//images/dot-grid.webp);


}


@media (max-width:767px) {
//====================================
// 頁首
// ====================================
    .container>.row>a {

        background-color: #BE917D;
    }

    header {
        // background-color: rgb(83, 83, 83);
        background-image: url(../../images/a01.jpg);
        // width: 375px;
        height: 113px;
        background-size: cover;
        background-position: center;
        position: relative; //父/
        
    }

    header img {
        width: 60px;
        // height: 66px;
        position: absolute; //兒
        left: 50%;
        top: 25px;
        transform: translateX(-50%);
    }
    /////////菜單跟漢堡線/////////////
    header label{
        position: relative;//父/
        
    }
    .menu_btn{
        // background-color: aliceblue;
        width: 40px;
        height: 40px;
        display: block;
        top: 35px;
        left: 30px;
        
    }
    .menu_btn span{
        // background-color: #BE917D;

        opacity: 0;
        width: 1px;
        height: 1px;
        display: block;
        overflow: hidden;
        
    }
    .menu_btn::before{
        content:'';
        position: absolute; //兒
        height: 1px;
        left: 6px;
        width: 32px;
        background: #BE917D;
        top: 0;
        bottom: 0;
        margin: auto;
        box-shadow: 0px 12px 0px #BE917D,
                    0px -12px 0px #BE917D ;
    }
    nav.active{
        display: block;

    }

    /////////////////////////////////
    header nav {
        background-color: #BE917D;
        // background-image: url(../../images/a01.jpg) ;
        background-size: cover;
        background-position: center;
        width: 100%;
        left: 0px;
        position:absolute ;
        margin-top: 73px;
        display: none;

    }
    
    header>.container nav>ul {
        margin: auto;
        flex-direction: column;
        
    }
    
    header>.container nav>ul>li {
        border-bottom: 1px solid #012131;
        margin-right: 0px;
        margin-top: 0px;
        text-align: center;
  
        
    }
    
    header>.container nav>ul>li>a {
       color: #F4ECE0;
        font-size: 16px;
        letter-spacing: 3px;
        // margin-top: 0px;
    }
    
    header>.container nav>ul>li:nth-child(3) {
    
        margin-right: 0px;
    }
// ====================================
// 輪播區
// ====================================
.basemap {
    height: 770px;
}

.basemap h2 {
    padding-top: 70px;   
}


.basemap .row>ul {
    display:block;
    margin: auto;
    margin-bottom: 30px;

}
.basemap .row>ul>li{
  margin-bottom: 50px;  
  text-align: center;
}

.basemap .row>ul>li>a {
    // margin: 0 40px;
    // padding-bottom: 15px;
    
    font-size: 16px;
    color: rgb(0, 0, 0);
    border-bottom: 1px solid rgb(68, 68, 68);
}


.basemap h5 {
    // background-color: #BE917D;
    margin-top: 20px;
    // text-align: center;
}

.img-overlay {
    display: flex;
    overflow: auto; //隱//
    // background-color: aqua;
    height: 270px;
}
.img-overlay>a>img{
    width: 375px;

}

// ====================================
// 包套區
// ====================================
.container{
    max-width:375px;
}

.container .col-12{
    margin-top: 50px;
    margin-bottom: 40px;  
}
.container .col-12>a>img{
    width: 315.33px;

}
.container .col-md-6>hr {
    margin-left: 22%;
}
// ====================================
// 頁尾區
// ====================================

footer div {
    margin-left: 12%;
}
// body {
    
//     max-width:375px;
//     background-image: url(../..//images/dot-grid.webp);


// }


}//767end//



// // 超過768px以上執行 start 
// @media (min-width:768px) {
//     .icon-menu {
//         display: none;
//     }
// }

// min-width 768 end 