@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  margin: auto;
  width: 90%;
  max-width: 1440px;
}

.max-width {
  width: 1100px;
}

.img-fluid {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  /*換行*/
}

.col-1 {
  --num: calc(12 / 1);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-2 {
  --num: calc(12 / 2);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-3 {
  --num: calc(12 / 3);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-4 {
  --num: calc(12 / 4);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-5 {
  --num: calc(12 / 5);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-6 {
  --num: calc(12 / 6);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-7 {
  --num: calc(12 / 7);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-8 {
  --num: calc(12 / 8);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-9 {
  --num: calc(12 / 9);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-10 {
  --num: calc(12 / 10);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-11 {
  --num: calc(12 / 11);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-12 {
  --num: calc(12 / 12);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

@media (min-width: 768px) {
  .col-md-1 {
    --num: calc(12 / 1);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-2 {
    --num: calc(12 / 2);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-3 {
    --num: calc(12 / 3);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-4 {
    --num: calc(12 / 4);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-5 {
    --num: calc(12 / 5);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-6 {
    --num: calc(12 / 6);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-7 {
    --num: calc(12 / 7);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-8 {
    --num: calc(12 / 8);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-9 {
    --num: calc(12 / 9);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-10 {
    --num: calc(12 / 10);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-11 {
    --num: calc(12 / 11);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-12 {
    --num: calc(12 / 12);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }
}
@media (min-width: 1200px) {
  .col-lg-1 {
    --num: calc(12 / 1);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-2 {
    --num: calc(12 / 2);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-3 {
    --num: calc(12 / 3);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-4 {
    --num: calc(12 / 4);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-5 {
    --num: calc(12 / 5);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-6 {
    --num: calc(12 / 6);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-7 {
    --num: calc(12 / 7);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-8 {
    --num: calc(12 / 8);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-9 {
    --num: calc(12 / 9);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-10 {
    --num: calc(12 / 10);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-11 {
    --num: calc(12 / 11);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-12 {
    --num: calc(12 / 12);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }
}
header {
  background-image: url(../../images/a01.jpg);
  width: 100%;
  height: 150px;
  background-size: cover;
  background-position: center;
  position: relative;
}

header img {
  width: 72px;
  position: absolute;
  left: 50%;
  top: 50px;
  transform: translateX(-50%);
}

header nav {
  margin: auto;
}

header > .container nav > ul {
  display: flex;
  margin-left: 20px;
}

header > .container nav > ul > li {
  margin-right: 60px;
  margin-top: 65px;
}

header > .container nav > ul > li > a {
  line-height: 80px;
  color: rgb(244, 236, 224);
  font-size: 16px;
  letter-spacing: 1px;
}

header > .container nav > ul > li:nth-child(3) {
  margin-right: 220px;
}

.basemap {
  background-color: rgb(255, 255, 255);
  height: 1020px;
}

.basemap h2 {
  padding-top: 90px;
  text-align: center;
  letter-spacing: 1.5px;
  margin-bottom: 50px;
}

.basemap .row {
  margin-left: 37.5%;
}

.basemap .row > ul {
  margin-right: 80px;
  margin-bottom: 80px;
}

.basemap .row > ul > li > a {
  padding: 15px;
  font-size: 15px;
  color: rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
}

.img-overlay {
  display: flex;
  overflow: auto;
  height: 570px;
}

.basemap h5 {
  margin-top: 50px;
  text-align: center;
}

.basemap h5 > a {
  border: 1px solid rgb(0, 0, 0);
  padding: 10px 20px 10px 20px;
  color: black;
}

.container h2 {
  letter-spacing: 1.5px;
  margin-top: 90px;
  text-align: center;
}

.container .col-md-6 {
  margin-top: 90px;
  text-align: center;
  margin-bottom: 100px;
}

.container .col-md-6 > h4 {
  margin-top: 47px;
  margin-bottom: 10px;
  font-size: 22px;
}

.container .col-md-6 > h5 {
  font-size: 15px;
  margin-bottom: 25px;
}

.container .col-md-6 > hr {
  display: block;
  width: 190px;
  margin-bottom: 25px;
  margin-left: 32%;
}

.container .col-md-6 > p > span {
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 6px;
  margin-right: 2px;
}

.container .col-md-6 > p > small {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
}

footer {
  background-image: url(../..//images/底部.jpg);
  background-size: cover;
  background-position: center;
  height: 402px;
}

footer .container > a > img {
  width: 72px;
  height: 66px;
  margin-top: 60px;
  margin-left: 50%;
  transform: translateX(-50%);
}

footer div {
  margin-left: 41%;
  margin-top: 40px;
  margin-bottom: 30px;
}

footer a > img {
  width: 25px;
  margin-right: 33px;
}

footer h4 {
  text-align: center;
  color: rgb(244, 236, 224);
  line-height: 20px;
  margin-top: 10px;
  letter-spacing: 1.5px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

footer p {
  text-align: center;
  color: rgb(173, 173, 173);
  font-size: 6px;
  margin-top: 50px;
}

body {
  background-image: url(../..//images/dot-grid.webp);
}

@media (max-width: 767px) {
  .icon-Wire {
    border-top: 20px;
    height: 1px;
    width: 32px;
    position: absolute;
    background-color: #BE917D;
    margin-top: 50px;
    margin-left: 20px;
  }

  .icon-top {
    transform: translateY(-10px);
  }

  .icon-bottom {
    transform: translateY(10px);
  }

  .container > .row > a {
    background-color: #BE917D;
  }

  header {
    background-image: url(../../images/a01.jpg);
    height: 113px;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  header img {
    width: 60px;
    position: absolute;
    left: 50%;
    top: 25px;
    transform: translateX(-50%);
  }

  .basemap {
    height: 700px;
  }

  .basemap h2 {
    padding-top: 40px;
  }

  .basemap .row {
    justify-content: center;
    margin: auto;
  }

  .basemap .row > ul {
    margin-top: -20px;
    margin-left: 70px;
    margin-bottom: 70px;
  }

  .basemap h5 > a {
    border: 1px solid rgb(0, 0, 0);
    padding: 10px 20px 10px 20px;
    color: black;
  }

  .basemap h5 {
    margin-top: 20px;
  }

  .img-overlay {
    display: flex;
    overflow: auto;
    height: 270px;
  }

  .img-overlay > a > img {
    width: 375px;
  }

  .container {
    max-width: 375px;
  }

  .container .col-12 {
    margin-top: 50px;
    margin-bottom: 40px;
  }

  .container .col-12 > a > img {
    width: 315.33px;
  }

  .container .col-md-6 > hr {
    margin-left: 22%;
  }

  footer div {
    margin-left: 12%;
  }
}/*# sourceMappingURL=style.css.map */