$primary: rgb(112, 30, 30);

* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
}

.container {
    margin: auto;
    width: 90%;
    max-width: 1140px;
    // background-color: rgb(139, 139, 139);
}

// ====================================
// 頁首
// ====================================

header {
    background-color: rgb(255, 249, 249);
}

header>.container>h1 {
    padding-top: 20px;
    color: $primary
}

// header>.container>h1>a {
//     color: $primary;
// }

header>.container>nav>ul {
    display: flex;
}

header>.container>nav>ul>li {
    margin-right: 50px;
}

header>.container>nav>ul>li>a {
    line-height: 80px;
    color: $primary;
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: 1px;
}

// ====================================
// 內容區塊
// ====================================

//圖片相關
.img-fluid {
    width: 100%;
}

.img-radius {
    border-radius: 6px;
}

.img-circle {
    border-radius: 100%;
}

//文字相關

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

//區塊樣式

.row {
    display: flex;
    flex-wrap: wrap;
    /*換行*/
}

// 四欄式
.col-3 {
    width: calc(100% / 4 - 30px);
    margin: 0px 15px 40px 15px;
    /*上右下左*/
}

// 三欄式
.col-4 {
    width: calc(100% / 3 - 30px);
    margin: 0px 15px 40px 15px;
    /*上右下左*/
}

// 兩欄式
.col-6 {
    width: calc(100% / 2 - 30px);
    margin: 0px 15px 40px 15px;
    /*上右下左*/
}

.col-8 {
    width: calc(100% / 1.5 - 30px);
    margin: 0px 15px 40px 15px;
    /*上右下左*/
}

.col-9 {
    width: calc(100% / 1.33333333333 - 30px);
    margin: 0px 15px 40px 15px;
    /*上右下左*/
}

h2 {
    margin: 40px auto 30px auto;
}

.text{
    color: $primary;
    font-size: 0.8em;
}

// ====================================
// 頁尾區
// ====================================
footer {
    background-color: $primary;
    padding: 40px 0 40px 0;
}

dt {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: rgb(241, 235, 235);
}

dd {
    font-size: 0.8em;
    margin-bottom: 3px;
}

dd>a {
    color: rgb(228, 164, 161);
}

footer p {
    font-size: 1em;
    color: rgb(29, 6, 5);
}

// ====================================
// index2使用
// ====================================

.breadcrumb{
    display: flex;
    margin: 20px 0 40px 0;
    width: 100%;
    }
    .breadcrumb a{
        color: rgb(0, 0, 0); ;
    }

    .btn-primary{
        background-color: $primary;
        color: rgb(240, 233, 233);
        display: block;
        padding: 10px;
        margin-bottom: 8px;
        border-radius: 4px;
        text-align: center;
    }
    .btn-primary:hover{
        background-color: rgb(163, 33, 66);
    }
 
    .text-primary{
        color: $primary;
    }

  ////////////////////////////  
  .img-wrap{
    display: block;
    position:relative;//我是你爸//
    // background-color: red;
    margin-bottom: 10px;
    
}
.img-overlay{
    overflow: hidden;//隱//
    border-radius: 8px;
}
.img-wrap img{
    vertical-align: top;
    transition: all .5s;
}
.img-wrap img:hover{
    transform: scale(1.5); //變形放大//
}
.icon-new{
position: absolute;//乖兒子//
background-color:$primary;
color: aliceblue;
border-radius: 100%;
line-height: 50px;
width: 50px;
left: -25px;
top: -25px;

}