
$primary-color:#bdf1d1;
body{
    background-color: #bdf1d1;
}
.btn-primary{
background-color: rgb(226, 144, 226);
color: rgb(255, 255, 255);
padding: 8px;
border-radius: 4px;
text-decoration: none;
letter-spacing: 4px;
}