@charset "UTF-8";
body {
  background-image: none;
}

.layout {
  max-width: 96%;
  height: 80%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 15px 15% 15px 20% 15px 15% 15px 20%;
  grid-template-columns: 15% 15% 20% 15% 20%;
  -ms-grid-rows: 5% 15px 20% 15px 20%;
  grid-template-rows: 5% 20% 20%;
  gap: 15px;
      grid-template-areas: "a b d f f f f " "a b d f f f f " "a b e f f f f " "a b e g h h h " "c c e g h h h " "c c e g h h h ";
}

.box1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 7;
  -ms-grid-column: 1;
  background-color: red;
  grid-area: a;
  background-image: url(../../images/店觀/01.jpg);
  background-size: cover;
}

.box2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 7;
  -ms-grid-column: 3;
  background-color: rgb(235, 170, 31);
  grid-area: b;
  background-image: url(../../images/店觀/02.jpg);
  background-size: cover;
}

.box3 {
  -ms-grid-row: 9;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  background-color: rgb(235, 222, 31);
  grid-area: c;
  background-image: url(../../images/店觀/03.jpg);
  background-size: cover;
}

.box4 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 5;
  background-color: rgb(123, 235, 31);
  grid-area: d;
  background-image: url(../../images/店觀/04.jpg);
  background-size: cover;
}

.box5 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 7;
  -ms-grid-column: 5;
  background-color: rgb(31, 204, 235);
  grid-area: e;
  background-image: url(../../images/店觀/05.jpg);
  background-size: cover;
}

.box6 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  -ms-grid-column: 7;
  -ms-grid-column-span: 7;
  background-color: rgb(31, 119, 235);
  grid-area: f;
  background-image: url(../../images/店觀/06.jpg);
  background-size: cover;
}

.box7 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 5;
  -ms-grid-column: 7;
  background-color: rgb(177, 31, 235);
  grid-area: g;
  background-image: url(../../images/店觀/07.jpg);
  background-size: cover;
}

.box8 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 5;
  -ms-grid-column: 9;
  -ms-grid-column-span: 5;
  background-color: rgb(235, 31, 126);
  grid-area: h;
  background-image: url(../../images/店觀/08.jpg);
  background-size: cover;
}

@media (mix-width: 460px) {
  .layout .col-1 {
    --num: calc(12 / 1);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .layout .col-2 {
    --num: calc(12 / 2);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .layout .col-3 {
    --num: calc(12 / 3);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .layout .col-4 {
    --num: calc(12 / 4);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .layout .col-5 {
    --num: calc(12 / 5);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .layout .col-6 {
    --num: calc(12 / 6);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .layout .col-7 {
    --num: calc(12 / 7);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .layout .col-8 {
    --num: calc(12 / 8);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .layout .col-9 {
    --num: calc(12 / 9);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .layout .col-10 {
    --num: calc(12 / 10);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .layout .col-11 {
    --num: calc(12 / 11);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .layout .col-12 {
    --num: calc(12 / 12);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }
}