iframe {
  width: 100%;
}

.contact-us {
  position: relative;
}

.contact-us::before {
  content: "";
  position: absolute;
  display: block;
  width: 50%;
  height: 1px;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  background: #333;
  top: 18px;
  z-index: -2;
}

.contact-us span {
  padding: 0 20px;
  background: rgb(255, 255, 255);
}

.container {
  max-width: 1000px;
}

.container p {
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: 2px;
}

.container .col-6 {
  margin-top: 30px;
  text-align: end;
}

.input-width {
  width: 95%;
  padding: 10px;
  margin-bottom: 13px;
  border: none;
  border: 1px solid gray;
  border-radius: 4px;
}

.send {
  width: 30%;
  padding: 10px;
  margin-bottom: 30px;
  border: none;
  border: 1px solid gray;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}