.dress .row {
  margin: 40px 30px 0px 30px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.dress .col-12.col-md-4.col-lg-2 > a > img {
  background-color: aqua;
  width: 100%;
}

.dress .row > div > a > p {
  line-height: 20px;
  margin-top: 30px;
  text-align: center;
}

body {
  background-image: none;
}

.margin-top {
  margin-top: 10px;
}