.container {
  max-width: 1000px;
}

.container h2 {
  margin-top: 70px;
  margin-bottom: 40px;
}

.row {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 30px;
}

.row > .left > img {
  max-width: 100%;
}

.left {
  margin-bottom: 40px;
}

.left img {
  width: 100%;
}

.right {
  width: 50%;
  margin-left: 60px;
}

.right h5 {
  margin-top: 20px;
}