html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 關於MONI
        link(rel="shortcut icon", href="public/images/favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="public/css/scss/style.css")
        link(rel="stylesheet", href="public/css/scss/about.css")
    body 
        // header start //
        header
             .container
                label#btn-nav-switch(for="" class="menu_btn")
                     span 
                .row
                    a(href="index.html") 
                        img(src="public/images/logo.svg", alt="")
                    nav 
                        ul 
                            li 
                                a(href="about.html") 關於MONI
                            li
                                a(href="#") 最新消息
                            li  
                                a(href="Photography.html") 攝影作品
                            li  
                                a(href="dress area.html") 禮服品牌
                            li  
                                a(href="#") 聯絡店家
                            li  
                                a(href="#") Q&A
        // header end //

        img.img-fluid(src="public/images/about.jpg", alt="")

        .layout
            .box.box1
            .box.box2
            .box.box3
            .box.box4
            .box.box5
            .box.box6
            .box.box7
            .box.box8

        //footer start

        footer
            .container 
                a(href="") 
                    img(src="public/images/logo.svg", alt="")
                div
                    a(href="")
                        img(src="public/images/i1.png")
                    a(href="")
                        img(src="public/images/i2.png")
                    a(href="")
                        img(src="public/images/i3.png")
                    a(href="")
                        img(src="public/images/i4.png")
                    a(href="")
                        img(src="public/images/i5.png")
            h4(href="")  MONI 茉尼婚紗  T+886-4-23310068
            h4(href="")  台灣台中市南區學府路二段113號
            p  © 2022 MONI WEDDING, LLC. All Rights Reserved.

        //footer end
        script(src='https://code.jquery.com/jquery-3.6.0.min.js' integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=' crossorigin='anonymous')
        script(src="public/js/index-script.js")
        
    