html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title MR-BROWN
    link(rel='stylesheet' href='public/css/scss/style.css')
  body
    // header start
    // header>.container>h1{MR-BROWN}+nav>ul>li*7>a[href="#"]{文字}
    header.overflow-hidden
      .container
        a.icon-menu(href="#") menu 
        h1 MR-BROWN
        nav
          ul
            li
              a(href='index.html') 最新消息
            li
              a(href='#') 門市資訊
            li
              a(href='index3.html')  嚴選商品
            li
              a(href='#') 咖啡豆專區
            li
              a(href='#') 線上購物
    // header end
    .container 
        .row 
            h1 關於伯朗
        .row    
            .col-12.col-md-6
                img.img-fluid.img-rounded(src="public/images/01.jpg", alt="")
            .col-12.col-md-6 02
        .row                    
            .col-12.col-md-6 
                img.img-fluid.img-rounded(src="public/images/01.jpg", alt="")
            .col-12.col-md-6.order-md-1 02
                
    // footer start
    footer
      .container
        .row
          dlcol-md-3
            dt 關於伯朗
            dd
              a(href='') 企業沿革
            dd
              a(href='') 經營理念
            dd
              a(href='') 企業積任
            dd
              a(href='') 企業徵才
          dlcol-md-3
            dt 伯朗會員
            dd
              a(href='') 加入會員
            dd
              a(href='') 忘記密碼
            dd
              a(href='') 取消/訂閱
            dd
              a(href='') 補發認證
          dlcol-md-3
            dt 友站連結
            dd
              a(href='') 關係事業
            dd
              a(href='') 咖啡協會
            dd
              a(href='') 原味誌
            dd
              a(href='') 知性之旅
          dlcol-md-3
            dt 好康報報
            dd
              a(href='') 最新消息01
            dd
              a(href='') 最新消息02
            dd
              a(href='') 最新消息03
            dd
              a(href='') 最新消息04
        p.text-center 本站僅供學習使用，不用於商業用途。
    // content end
