doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title MONI茉尼婚紗
        link(rel="stylesheet", href="public/css/scss/style.css")
    body 
        // header start //
        header
             .container
                .row 
                    img(src="public/images/logo_02.png", alt="")
                    nav 
                        ul 
                            li 
                                a(href="#") 關於MONI 
                            li
                                a(href="#") 最新消息
                            li  
                                a(href="#") 攝影作品
                            li  
                                a(href="#") 禮服品牌
                            li  
                                a(href="#") 聯絡店家
                            li  
                                a(href="#") Q&A
        // header end //


        //footer start
        footer
            .container 
                img(src="public/images/logo_02.png", alt="")

        