doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title MR-BROWN
    link(rel='stylesheet' href='public/css/scss/style.css')
  body
    // header start
    // header>.container>h1{MR-BROWN}+nav>ul>li*7>a[href="#"]{文字}
    header
      .container
        .row.flex-space-between
          h1 MR-BROWN
          a.icon-menu(href="#") menu 
          nav
            ul
              li
                a(href='index.html') 最新消息
              li
                a(href='#') 門市資訊
              li
                a(href='index3.html')  嚴選商品
              li
                a(href='#') 咖啡豆專區
              li
                a(href='#') 線上購物
    // header end
    img.img-fluid(src='public/images/drink-g52a8ae704_1920.jpg' alt='')
    // content start
    .container
      h2.text-center 注目焦點
      .row
        .col-6.col-md-4.col-lg-4
          a(href='')
            img.img-fluid.img-radius(src='public/images/coffee-g51d18ca8c_640.jpg' alt='')
          p.text-center 巴西 伊帕內瑪莊園 頂級金系列
          p.text.text-center 風味｜洛神花茶、水果汁、楓糖
        .col-6.col-md-4.col-lg-4
          a(href='#')
            img.img-fluid.img-radius(src='public/images/coffee-g9fd9b514d_640.jpg' alt='')
          p.text-center 衣索比亞 古吉 夏奇索 迪巴貝特村 日曬
          p.text.text-center 風味｜柑橘、烤麵包、深色莓果
        .col-6.col-md-4.col-lg-4
          a(href='#')
            img.img-fluid.img-radius(src='public/images/coffee-gb0f5f0afe_640.jpg' alt='')
          p.text-center Cappuccino卡布奇諾
          p.text.text-center 享用餐點
        .col-6.col-md-4.col-lg-4
          a(href='#')
            img.img-fluid.img-radius(src='public/images/coffee-gcdd7df243_640.jpg' alt='')
          p.text-center Macchiato瑪琪雅朵
          p.text.text-center 享用餐點
        .col-6.col-md-4.col-lg-4
          a(href='#')
            img.img-fluid.img-radius(src='public/images/coffee-gf80f7f914_640.jpg' alt='')
          p.text-center 瓜地馬拉 新東方 太陽神 水洗
          p.text.text-center 風味｜堅果、奶油、巧克力
        .col-6.col-md-4.col-lg-4
          a(href='#')
            img.img-fluid.img-radius(src='public/images/table-gd42215cc7_640.jpg' alt='')
          p.text-center Cafe Breve布雷衛
          p.text.text-center 享用餐點
    // content end
    // footer start
    footer
      .container
        .row
          dlcol-md-3
            dt 關於伯朗
            dd
              a(href='') 企業沿革
            dd
              a(href='') 經營理念
            dd
              a(href='') 企業積任
            dd
              a(href='') 企業徵才
          dlcol-md-3
            dt 伯朗會員
            dd
              a(href='') 加入會員
            dd
              a(href='') 忘記密碼
            dd
              a(href='') 取消/訂閱
            dd
              a(href='') 補發認證
          dlcol-md-3
            dt 友站連結
            dd
              a(href='') 關係事業
            dd
              a(href='') 咖啡協會
            dd
              a(href='') 原味誌
            dd
              a(href='') 知性之旅
          dlcol-md-3
            dt 好康報報
            dd
              a(href='') 最新消息01
            dd
              a(href='') 最新消息02
            dd
              a(href='') 最新消息03
            dd
              a(href='') 最新消息04
        p.text-center 本站僅供學習使用，不用於商業用途。
    // content end
