doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title MONI茉尼婚紗
        link(rel="stylesheet", href="public/css/scss/style.css")
    body 
        // header start //
        header
             .container
                .row 
                    a(href="") 
                        img(src="public/images/logo.svg", alt="")
                    nav 
                        ul 
                            li 
                                a(href="#") 關於MONI 
                            li
                                a(href="#") 最新消息
                            li  
                                a(href="#") 攝影作品
                            li  
                                a(href="#") 禮服品牌
                            li  
                                a(href="#") 聯絡店家
                            li  
                                a(href="#") Q&A
        // header end //
        
        img(src="public/images/banner_01.jpg", alt="")

        .basemap
            h2 攝影作品
            .row 
                ul 
                    li 
                        a(href="") 婚紗攝影
                ul 
                    li 
                        a(href="") 家庭&閨蜜寫真
                ul 
                    li 
                        a(href="") 孕婦&嬰兒寫真                 
            .img-overlay 
                a(href="") 
                    img(src="public/images/輪播_01.jpg", alt="")
                a(href="") 
                    img(src="public/images/輪播_02.jpg", alt="")
                a(href="") 
                    img(src="public/images/輪播_03.jpg", alt="")
            h5 
                a(href="")  欣賞更多   

        // content start
        
        .container.max-width
            h2.text-center 包套專案
            .row
                .col-6 
                    a(href="")
                        img(src="public/images/包套_01.jpg", alt="")
                    h4 國內婚紗攝影包套
                    h5 台灣中部縣市
                    hr
                    p
                        small NTD
                        span 36800 
                        small up    
                .col-6 
                    a(href="")
                        img(src="public/images/包套_02.jpg", alt="")
                    h4 海外婚紗攝影包套
                    h5 峇里島 / 澳門 / 關島 / 沖繩
                    hr
                    p 
                        small NTD
                        span 88,800
                        small up    
                .col-6 
                    a(href="")
                        img(src="public/images/包套_03.jpg", alt="")
                    h4 婚禮攝影 / 新娘秘書
                    h5 婚禮平面紀錄 / 新娘秘書
                    hr
                    p 
                        small NTD
                        span 13,600 
                        small up    
                .col-6 
                    a(href="")
                        img(src="public/images/包套_04.jpg", alt="")
                    h4 專業攝影
                    h5 全家福 / 嬰兒寫真 / 孕婦寫真 / 藝術寫真
                    hr
                    p 
                        small NTD
                        span 16,800 
                        small up    

        // content end

        //footer start
        footer
            .container 
                a(href="") 
                    img(src="public/images/logo.svg", alt="")
                div
                    a(href="")
                        img(src="public/images/i1.png")
                    a(href="")
                        img(src="public/images/i2.png")
                    a(href="")
                        img(src="public/images/i3.png")
                    a(href="")
                        img(src="public/images/i4.png")
                    a(href="")
                        img(src="public/images/i5.png")
            h4(href="")  MONI 茉尼婚紗  T+886-4-23310068
            h4(href="")  台灣台中市南區學府路二段113號
            p  © 2022 MONI WEDDING, LLC. All Rights Reserved.
        //footer end
 
                    

        