doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 攝影作品
        link(rel="shortcut icon", href="public/images/favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="public/css/scss/style.css")
        link(rel="stylesheet", href="public/css/scss/news.css")
    body
        // header start //
        header
            .container
                label#btn-nav-switch(for="" class="menu_btn")
                        span 
                .row
                    a(href="index.html") 
                        img(src="public/images/logo.svg", alt="")
                    nav 
                        ul 
                            li 
                                a(href="about.html") 關於MONI
                            li
                                a(href="news.html") 最新消息
                            li  
                                a(href="Photography.html") 攝影作品
                            li  
                                a(href="dress area.html") 禮服品牌
                            li  
                                a(href="#") 聯絡店家
                            li  
                                a(href="#") Q&A
        // header end //
        
        .container 
            h2 最新消息
            .row
                .left 
                    img(src="public/images/news_01.jpg", alt="")
                .right 
                    h5 2022.04.28
                    h3 5/11~5/21 限時十天幸福女人節
                    p 5/11-5/21 幸福女人節 時尚、健康、快樂新生活！ 10大.....
                    h5 more
            .row
                .left 
                    img(src="public/images/news_02.jpg", alt="")
                .right 
                    h5 2020.01.26
                    h3 春節營業時間公告
                    p 營業時間:02/16 大年初.....
                    h5 more
            .row
                .left 
                    img(src="public/images/news_03.jpg", alt="")
                .right
                    h5 2014.08.02
                    h3 戀戀七夕 婚紗體驗
                    p MONI Wedding 戀戀七夕 婚紗體驗,活動時間獨家特惠套係 優惠.....  
                    h5 more
 

    //footer start
    footer
        .container.icon 
            a(href="") 
                img(src="public/images/logo.svg", alt="")
            div
                 a(href="")
                    img(src="public/images/i1.png")
                a(href="")
                    img(src="public/images/i2.png")
                a(href="")
                    img(src="public/images/i3.png")
                a(href="")
                    img(src="public/images/i4.png")
                a(href="")
                    img(src="public/images/i5.png")
        h4(href="")  MONI 茉尼婚紗  T+886-4-23310068
        h4(href="")  台灣台中市南區學府路二段113號
        p  © 2022 MONI WEDDING, LLC. All Rights Reserved.
    //footer end
    script(src='https://code.jquery.com/jquery-3.6.0.min.js' integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=' crossorigin='anonymous')
    script(src="public/js/index-script.js")